#wrap-picture{
	overflow: hidden;
	background: rgb(255,224,12);
}
#picture{
	width: 1200px;
	height: 360px;
	background: lightblue;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
#picture .picturePlay{
	position: absolute;
	top: 0;
	left: 228px;
	width: 770px;
	height: 360px;
}
#picture .picturePlay .pictureBox{
	width: 770px;
	height: 360px;
	position: relative;
}
#picture .picturePlay .pictureBox a{
	position: absolute;
	display: block;
	width: 770px;
	height: 360px;
	overflow: hidden;
	top: 0;
	left: 0;
}
#picture .picturePlay .pictureBox a img{
	width: 770px;
	height: 360px;
	position: absolute;
	top: 0;
	left: 0;
}
#picture .palypic{
	position: absolute;
    top: 325px;
    left: 10px;
    text-align: center;
    width: 100%;
    z-index: 99;
}
#picture .palypic a{
	width: 21px;
    height: 21px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    line-height: 21px;
    background-color: #999;
    border-radius: 50%;
    color: #FFF;
}
#picture .main_r{
	float: right;
	width: 202px;
    height: 360px;
    background: #fff;
    overflow: hidden;
}
#picture .main_r .imgBox1{
	background: url(../img/menuLine1.png) 50% bottom no-repeat;
}
#picture .main_r .imgBox2{
	background: url(../img/menuLine1.png) 50% bottom no-repeat;
}
#picture .main_r a{
	display: block;
	width: 200px;
	height: 120px;
	position: relative;
}
#picture .main_r a img{
	display: block;
	width:200px;
	height: 118px;
	position: absolute;
	top: 0;
	right: 0;
}

/*口碑评价*/
#wrap-comment{
	overflow: hidden;
	width: 100%;
}
#comment{
	width: 1200px;
	height: 200px;
	margin:25px auto;
	position: relative;
}
#comment .ads-l{
    width: 228px;
    height: 200px;
    overflow: hidden;
    position: relative;
    float: left;
}
#comment .ads-l .hono-l{
	position: absolute;
	top: 0;
	left: 0;
	width: 228px;
    height: 200px;
}
#comment .ads-l .hono-l div{
    height: 100px;
    border-bottom: 1px dashed #fff;
    background: #fec038;
}
#comment .ads-l .lb-2 div{
	background: #fa7d67;
}
#comment .ads-l .hono-l h2{
    line-height: 40px;
    color: #fff;
    text-indent: 8px;
}
#comment .ads-l .hono-l h2 a{
	color: #fff;
}
#comment .ads-l .hono-l b{
    display: inline-block;
    width: 36px;
    height: 40px;
    vertical-align: middle;
    margin: 0 20px 0 50px;
}
#comment .ads-l .hono-l span{
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
}
#comment .ads-l .lb-1 .hono-ltop b{
	background: url(../img/ads.png) no-repeat;
}
#comment .ads-l .lb-1 .hono-lbot b{
	background: url(../img/ads.png) no-repeat -37px 0;
}
#comment .ads-l .lb-2 .hono-ltop b{
	background: url(../img/ads.png) no-repeat 0 -41px;
}
#comment .ads-l .lb-2 .hono-lbot b{
	background: url(../img/ads.png) no-repeat -37px -41px;
}

#activity{
	width: 968px;
	height: 200px;
    overflow: hidden;
    position: relative;
    float: right;
}
#activity .jionActivity{
    position: absolute;
    top: 0;
    height: 200px;
    width: 968px;
    bottom: 0;
    margin: auto 0;
    background-color: #f5f5f5;
}
#activity .jionActivity .lb-rtop{
    line-height: 56px;
    color: #333;
    padding: 0 25px;
}
#activity .jionActivity .lb-rtop img{
	position: relative;
	top: -3px;
	vertical-align: middle;
	margin-right: 10px;
}
#activity .jionActivity .lb-rtop .lb-acquire{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 7px;
    background: #cecbc6;
    color: #fff;
    border-radius: 4px;
    margin-left: 5px;
}
#activity .jionActivity .lb-rtop .rule{
	cursor: pointer;
	color: #FF0000;
	font-size: 12px;
}
#activity .jionActivity .lb-rtop .rule:hover{
	color: blue;
}
#activity .jionActivity .lb-rtop span{
	float: right;
	font-size: 14px;
}
#activity .jionActivity .lb-rtop span em{
    font-size: 19px;
    color: #fa7d67;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 3px;
    font-style: normal;
}
#activity .jionActivity .lb-rbot{
	padding-top: 15px;
}
#activity .jionActivity .lb-rbot .lb-radd{
    width: 68px;
    padding-left: 38px;
    text-align: center;
    color: #666;
    cursor: pointer;
    float: left;
}
#activity .jionActivity .lb-rbot .r-add {
    display: inline-block;
    width: 58px;
    height: 58px;
    background: url(../img/ads.png) 0 -115px;
    margin-bottom: 15px;
}
#activity .jionActivity .lb-rbot .r-join {
    display: inline-block;
    width: 58px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background: #fa7d67;
}
#activity .jionActivity .lb-rlist {
    padding-left: 15px;
    height: 103px;
    overflow: hidden;
    width: 840px;
    float: left;
}
#activity .jionActivity .lb-rlist li {
    width: 80px;
    float: left;
    text-align: center;
    color: #666;
    margin: 0 20px;
}
#activity .jionActivity .lb-rlist img{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/*happy shopping*/
#wrap-happy{
	width: 100%;
	overflow: hidden;
	background: #f5f5f5;
}
#happy-shopping{
    padding: 30px 0 55px;
    width: 1200px;
    height: 28px;
    position:relative;
    margin: 0 auto;
}
/*天天惊喜*/
#wrap-daysSurprise{
	width: 100%;
	overflow: hidden;
	background: #F5F5F5;
}
#daysSurprise{
	width: 1200px;
	height: 487px;
	margin: 0 auto 30px;
	background:#f5f5f5;
}
#daysSurprise .surprise-tit{
	width: 100%;
	height: 75px;
}
#daysSurprise .surprise-tit .sur-titimg{
    width: 120px;
    height: 34px;
    margin-top: 30px;
    float: left;
    overflow: hidden;
}
#daysSurprise .surprise-tit .time-px{
    border-bottom: 1px solid #e1e0e0;
    padding-bottom: 21px;
    padding-left: 50px;
    width: 1022px;
    float: right;
    height: 28px;
}
#daysSurprise .surprise-tit .time-px p{
    width: 140px;
    float: left;
    position: relative;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: #999;
    height: 20px;
}
#daysSurprise .surprise-tit .time-px p em{
	display: block;
    position: absolute;
    bottom: -42px;
    left: 0;
    width: 100%;
    height: 24px;
    text-align: center;
    background: url(../img/daytime.png) no-repeat 42px -227px;
}

/*轮播*/
#surprise-content{
	width: 1198px;
	height: 380px;
	border: 1px solid #eee;
	margin-bottom: 20px;
	margin-top: 10px;
	background: #fff;
}
#surprise-play{
    height: 380px;
    width: 222px;
    overflow: hidden;
    position: relative;
    float: left;
}
#surprise-play a{
	z-index: 2;
	width: 100%;
	height: 380px;
	position: absolute;
	top: 0;
	left: 0;
}
#surprise-play a img{
	width: 222px;
	height: 380px;
	text-align: center;
}
#surprise-play #daysurimg-id{
    width: 100%;
    height: 20px;
    clear: both;
    position: absolute;
    z-index: 99;
    left: 0px;
    bottom: 10px;
    text-align: center;
}
#daysurimg-id ul{
	margin: 0 auto;
	display: inline-block;
}
#daysurimg-id ul li{
	width: 10px;
	height: 10px;
	overflow: hidden;
	float: left;
	margin: 0 5px;
	display: inline;
	border-radius: 50%;
	box-shadow: 0 0 5px #fff;
	opacity: 0.6;
	background-color: #fff;
}

/*切换抢购*/
#surprise-massage{
	width: 972px;
	height: 380px;
	overflow: hidden;
	float: right;
	position: relative;
}
#surprise-massage ul{
	position: absolute;
	top: 0;
	left: 0;
}
#surprise-massage ul li{
    border-right: 1px solid #eee;
    float: left;
    width: 242px;
    height: 375px;
    padding-top: 5px;
}
#surprise-massage ul li .sur-hear{
	padding: 25px;
}
#surprise-massage ul li .sur-hear a{
	overflow: hidden;
	display: block;
	text-align: center;
}
#surprise-massage ul li .sur-hear .imgBox{
	width: 193px;
	height: 193px;
	position: relative;
}
#surprise-massage ul li .sur-hear .imgBox img{
	position: absolute;
	top: 0;
	left: 0;
	width: 193px;
	height: 193px;
}
#surprise-massage ul li .sur-hear h1 a:hover{
	color: blue;
}
#surprise-massage ul li .sur-hear h1{
	height: 36px;
	line-height: 18px;
	width: 192px;
	margin-top: 10px;
}
#surprise-massage ul li .sur-price{
	margin-top: 5px;
	margin-left: 25px;
	width: 217px;
	height: 47px;
}
#surprise-massage ul li .sur-price .sur-numbox{
	width: 115px;
	height: 47px;
	float: left;
	overflow: hidden;
}
#surprise-massage ul li .sur-price .sur-numbox .sur-num{
	color: #ff4400;
	font-size: 22px;
	font-weight: bold;
	height: 30px;
	width: 115px;
}
#surprise-massage ul li .sur-price .sur-numbox .sur-num em{
	font-size: 14px;
	font-style: normal;
}
#surprise-massage ul li .sur-price .sur-numbox p{
	color: #999;
	width: 115px;
	height: 17px;
}
#surprise-massage ul li .sur-price .sur-numbox p span{
	padding-left: 10px;
}
#surprise-massage ul li .sur-price .fr{
	float: right;
}
#surprise-massage ul li .sur-price .fr a{
	padding-left: 20px;
	display: block;
	width: 73px;
	height: 42px;
	line-height: 42px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	background: url(../img/daytime.png) no-repeat -4px -57px;
}
